html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', Helvetica, Verdana, sans-serif;
	font-size: 14px;
	background-color: $white;
	color: $black;
	@include transition(all 0.2s);
}
