$smart-width: 360px;
$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;

@mixin smartphone {
  @media all and (min-width: #{$smart-width}) {
    @content
  }
}

@mixin tablet {
  @media all and (min-width: #{$tablet-width}) {
    @content
  }
}

@mixin desktop {
  @media all and (min-width: #{$desktop-width}) {
    @content
  }
}

@mixin large-desktop {
  @media all and (min-width: #{$large-desktop-width}) {
    @content
  }
}
