@mixin transition($transition_desc) {       
       -o-transition: $transition_desc;
      -ms-transition: $transition_desc;
     -moz-transition: $transition_desc;
  -webkit-transition: $transition_desc;
          transition: $transition_desc;
}

@mixin transform($transform_desc) {       
  -webkit-transform: $transform_desc;
      -ms-transform: $transform_desc;
          transform: $transform_desc;
}