@font-face {
	font-family: 'PT Sans';
	src: url("../fonts/PTSans/PTS55F-webfont.eot");
	src: url("../fonts/PTSans/PTS55F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTS55F-webfont.woff") format("woff"), url("../fonts/PTSans/PTS55F-webfont.ttf") format("truetype"), url("../fonts/PTSans/PTS55F-webfont.svg#pt_sansregular") format("svg");
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'PT Sans';
	src: url("../fonts/PTSans/PTS56F-webfont.eot");
	src: url("../fonts/PTSans/PTS56F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTS56F-webfont.woff") format("woff"), url("../fonts/PTSans/PTS56F-webfont.ttf") format("truetype"), url("../fonts/PTSans/PTS56F-webfont.svg#pt_sansregular") format("svg");
	font-weight: normal;
	font-style: italic;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'PT Sans';
	src: url("../fonts/PTSans/PTS75F-webfont.eot");
	src: url("../fonts/PTSans/PTS75F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTS75F-webfont.woff") format("woff"), url("../fonts/PTSans/PTS75F-webfont.ttf") format("truetype"), url("../fonts/PTSans/PTS75F-webfont.svg#pt_sansregular") format("svg");
	font-weight: bold;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'PT Sans';
	src: url("../fonts/PTSans/PTS76F-webfont.eot");
	src: url("../fonts/PTSans/PTS76F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTS76F-webfont.woff") format("woff"), url("../fonts/PTSans/PTS76F-webfont.ttf") format("truetype"), url("../fonts/PTSans/PTS76F-webfont.svg#pt_sansregular") format("svg");
	font-weight: bold;
	font-style: italic;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
